html
{
    background: #fffafd;

}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
h1
{
    text-align: center;
    padding: 20px;
}

h2
{
    text-align: center;
    padding: 20px;
}
.section {
    border-bottom: 1px solid #ddd;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    max-height: 200px; /* Set a maximum height if needed */
    margin: 100px;
    border-radius: 5px;
}
.text-container {
    max-width: 400px; /* Adjust the maximum width as needed */
}

.centered-text {
    max-width: 100%; /* Ensure text doesn't exceed its container */
}
ul{
    padding-left: 0;
    
}
ul li {
    list-style-position: inside;
    
 }

header {
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end; /* Align the header to the right */
}

.navbar {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row; /* Align the navbar text horizontally */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
    display: inline-block; /* Display horizontally */
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/* gallery.css */

.gallery
{
    display: flex;
}

.artwork{
    flex: 33.33%;
    padding: 5px;
}

.artwork img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s;
}

.artwork img:hover {
    border: 1px solid #555;
}
